# 문자열 자료형이란?
* 문자열(String)은 문자들의 나열(sequence of characters)을 말합니다.
* 파이썬에서 문자열은 작은따옴표('...'), 큰따옴표("..."), 삼중따옴표('''...''', """...""") 등을 사용해 표현합니다.
* 파이썬은 문자열을 immutable(불변)한 자료형으로 취급합니다. 즉, 한 번 생성된 문자열 객체는 변경할 수 없고, 변경하려면 새로운 문자열을 만들어야 합니다.

## 1. 문자열 생성과 기본 사용
* 문자열 생성

In [2]:
# 1. 작은따옴표
my_str = 'Hello World!'

# 2. 큰따옴표
my_str2 = "Hello Python!"

# 3. 삼중따옴표
my_str3 = """여러 줄에 걸친
문자열을 작성할 수 있습니다."""

print(my_str, my_str2, my_str3, sep='\n')

Hello World!
Hello Python!
여러 줄에 걸친
문자열을 작성할 수 있습니다.

* 문자열에 따옴표를 포함하고 싶을 때 (문자열 안에 작은따옴표를 넣어야 한다면 큰따옴표로 감싸거나, 이스케이프 문자(```\```)를 사용합니다.)

In [3]:
# 큰따옴표로 감싸기
sentence = "그는 '안녕하세요'라고 말했다."

# 이스케이프 문자 사용
sentence2 = '그는 \'안녕하세요\'라고 말했다.'
print(sentence)
print(sentence2)

그는 '안녕하세요'라고 말했다.
그는 '안녕하세요'라고 말했다.

## 2. 문자열 인덱싱(Indexing)과 슬라이싱(Slicing)
문자열도 시퀀스 자료형이므로, 인덱스(순서)를 통해 접근할 수 있습니다. (0부터 시작)

* 인덱싱

In [4]:
text = "Python"
print(text[0])   # 'P'
print(text[2])   # 't'
print(text[-1])  # 'n'  (음수 인덱스는 뒤에서부터)

P
t
n

* 슬라이싱 ([start:end:step] 형태로 원하는 부분만 잘라낼 수 있습니다.)

In [5]:
text = "Python"
print(text[0:2])   # 'Py'  (0번 인덱스부터 2 전까지)
print(text[2:])    # 'thon' (2번 인덱스부터 끝까지)
print(text[:4])    # 'Pyth' (처음부터 4 전까지)
print(text[::2])   # 'Pto'  (처음부터 끝까지 2칸씩 건너뛰며)
print(text[::-1])  # 'nohtyP' (문자열 뒤집기)

Py
thon
Pyth
Pto
nohtyP

## 3. 문자열 연산
* 덧셈(+): 두 문자열을 연결(concatenate) 합니다.

In [6]:
str_a = "Hello"
str_b = "World"
result = str_a + " " + str_b
print(result)  # "Hello World"

Hello World

* 곱셈(*): 문자열을 주어진 횟수만큼 반복 합니다.

In [7]:
str_a = "Hi"
print(str_a * 3)  # "HiHiHi"

HiHiHi

* 길이 측정(len()): 문자열의 길이(문자 개수)를 반환합니다.

In [8]:
text = "Python"
print(len(text))  # 6

6

## 4. 문자열 주요 메서드
문자열은 변경 불가능하지만, 문자열과 관련된 다양한 메서드를 제공합니다. 주로 새로운 문자열을 생성하여 반환하는 형태입니다.

### 대소문자 변환
* upper(), lower(), capitalize(), title()

In [1]:
text = "pYtHoN"
print(text.upper())      # "PYTHON"
print(text.lower())      # "python"
print(text.capitalize()) # "Python" (문장 첫 글자만 대문자)
print(text.title())      # "Python" (각 단어의 첫 글자 대문자)
print(text.swapcase())

PYTHON
python
Python
Python
PyThOn

### 공백 및 특정 문자 제거
* strip(), lstrip(), rstrip()

In [10]:
txt = "   Hello World!   "
print(txt.strip())   # "Hello World!"
print(txt.lstrip())  # "Hello World!   "
print(txt.rstrip())  # "   Hello World!"

Hello World!
Hello World!
   Hello World!

### 문자열 분리 및 결합
* split(), join()

In [11]:
# split: 문자열 -> 리스트
fruit_str = "apple,banana,orange"
fruits = fruit_str.split(",")
print(fruits)  # ['apple', 'banana', 'orange']

# join: 리스트 -> 문자열
joined_str = "-".join(fruits)
print(joined_str)  # "apple-banana-orange"

['apple', 'banana', 'orange']
apple-banana-orange

### 문자열 찾기
* find(), index(), count()

In [12]:
text = "Hello World"
print(text.find("lo"))   # 3   ("lo"가 시작되는 인덱스)
print(text.find("zzz"))  # -1  (존재하지 않으면 -1)

print(text.index("lo"))  # 3   (존재하지 않으면 에러 발생)
# print(text.index("zzz")) -> ValueError 발생

print(text.count("l"))   # 3   (문자 'l' 등장 횟수)

3
-1
3
3

### 문자열 치환
* replace(old, new)

In [13]:
text = "Hello World"
new_text = text.replace("World", "Python")
print(new_text)  # "Hello Python"

Hello Python

## 5. 포매팅(Formatting)과 f-string
* 옛날 방식 포매팅(%)

In [14]:
name = "Alice"
age = 25
sentence = "My name is %s. I am %d years old." % (name, age)
print(sentence)

My name is Alice. I am 25 years old.

* format() 메서드

In [15]:
name = "Alice"
age = 25
sentence = "My name is {}. I am {} years old.".format(name, age)
print(sentence)

My name is Alice. I am 25 years old.

In [16]:
# 위치 지정 혹은 키워드를 통해 원하는 순서로 대입 가능
sentence2 = "I am {1} years old. My name is {0}.".format(name, age)
print(sentence2)

I am 25 years old. My name is Alice.

* f-string (파이썬 3.6+)

In [17]:
name = "Alice"
age = 25
sentence = f"My name is {name}. I am {age} years old."
print(sentence)

My name is Alice. I am 25 years old.

In [18]:
print(f"1 + 2 = {1 + 2}")

1 + 2 = 3

## is..() 함수
* isupper()

In [2]:
# 문자열이 모두 대문자로만 이루어져 있는지 확인합니다.
# 공백, 숫자, 특수문자는 검사 대상에서 제외됩니다.
# 문자열에 최소한 하나의 문자가 있어야 True를 반환합니다.

print("HELLO".isupper())  # True
print("Hello".isupper())  # False
print("123!".isupper())   # False (문자가 없음)

True
False
False

* islower()

In [4]:
# 문자열이 모두 소문자로만 이루어져 있는지 확인합니다.
# 공백, 숫자, 특수문자는 검사 대상에서 제외됩니다.
# 문자열에 최소한 하나의 문자가 있어야 True를 반환합니다.

print("hello".islower())  # True
print("Hello".islower())  # False
print("".islower())   # False (문자가 없음)

True
False
False

* isalpha()

In [ ]:
# 문자열이 알파벳 문자만 포함하고 있는지 확인합니다.
# 공백, 숫자, 특수문자가 포함되어 있으면 False를 반환합니다.
# 빈 문자열은 False입니다.

In [1]:
print("Hello".isalpha())  # True
print("Hello123".isalpha())  # False
print(" ".isalpha())  # False
print("안녕".isalpha())  # True

True
False
False
True

* isdigit()

In [6]:
# 문자열이 숫자(0-9)로만 구성되어 있는지 확인합니다.
# 공백, 알파벳, 특수문자가 포함되어 있으면 False를 반환합니다.
# 빈 문자열은 False입니다.

print("123".isdigit())  # True
print("123abc".isdigit())  # False
print("".isdigit())  # False

True
False
False

* isalnum()

In [3]:
# 문자열이 알파벳 또는 숫자로만 구성되어 있는지 확인합니다.
# 공백, 특수문자가 포함되어 있으면 False를 반환합니다.
# 빈 문자열은 False입니다.

print("Hello123".isalnum())  # True
print("Hello 123".isalnum())  # False (공백 포함)
print("".isalnum())  # False

True
False
False

* isspace()

In [8]:
# 문자열이 공백 문자(스페이스, 탭, 개행 등)만 포함되어 있는지 확인합니다.
# 빈 문자열은 False입니다.

print("   ".isspace())  # True
print("Hello".isspace())  # False
print("".isspace())  # False

True
False
False

## 연습문제
1. 문자열 text = "Python"에서 첫 번째 문자 ```P``` 와 마지막 문자 ```n``` 를 인덱싱을 통해 출력해보세요.

In [1]:
text = "Python"
print(text[0])
print(text[-1])

P
n

2. 문자열 text = "Hello World!"을 슬라이싱하여 ""Hello" 부분만 추출해서 출력해보세요.

In [3]:
text = "Hello World!"
print(text[:5])

Hello

3. 문자열 a = "abc"와 b = "def"를 더하기 연산(+)을 이용해 "abcdef" 를 만들어 출력해보세요.

In [4]:
a = "abc"
b = "def"
print(a+b)

abcdef

4. 문자열 a = "Hello"를 3번 반복하여 "HelloHelloHello" 를 만들어 출력해보세요.

In [5]:
a = "Hello"
print(a*3)

HelloHelloHello

5. 문자열 fruits = "apple,banana,orange"를 ```,``` 로 분리(split())하여 리스트 형태로 출력해보세요.

In [6]:
fruits = "apple,banana,orange"
fruits.split(",")

['apple', 'banana', 'orange']

6. 문자열 s = " Hello Python! "에서 양쪽 공백을 제거(strip())하고, 제거된 문자열의 길이를 출력해보세요.

In [9]:
s = " Hello Python! "
s.strip()
len(s.strip())

13

7. 문자열 s = "Hello World"에서 "World"를 "Python"으로 치환(replace())하여 "Hello Python"을 만들어 출력해보세요.

In [11]:
s = "Hello World"
s = s.replace("World","Python")
print(s)

Hello Python

8. 문자열 quote = "Life is short, You need Python."에서 count() 함수를 사용하여 ```i``` 문자가 몇 번 등장하는지 세어보세요.

In [3]:
quote = "Life is short, You need Python."
quote.count("i")
quote.find("o") #어디에 o가 있는지(가장 먼저 발견한 것 하나만) #없을 시 -1
quote.index("o") #없을 시 오류

10

9. "My name is Alice and I am 25 years old." 라는 문장에서 split()을 이용해 단어별로 나눈 리스트를 생성한 후, " ".join(...)으로 다시 문자열로 합쳐서 출력해보세요.

In [16]:
a = "My name is Alice and I am 25 years old."
a = a.split()
print(a)
" ".join(a)

['My', 'name', 'is', 'Alice', 'and', 'I', 'am', '25', 'years', 'old.']

'My name is Alice and I am 25 years old.'

10. 문자열 포매팅(f-string)을 이용해, name="Bob"과 age=30을 가진 문장 "My name is Bob, and I'm 30."을 만들어 출력해보세요.

In [5]:
name="Bob"
age=30

f"My name is {name}, and I'm {age}."
"My name is {}, and I'm {}.".format(name,age)

"My name is Bob, and I'm 30."

11. 임의의 문자열을 임의의 변수에 할당하고, 이를 슬라이싱을 이용해 뒤집어 출력하는 코드를 작성해보세요.

In [18]:
a = "hello world"
a[::-1]

'dlrow olleh'

12. 문자열 "pYtHoN iS fUn"의 대문자는 소문자로, 소문자는 대문자로 바꿔 "PyThOn Is FuN" 형태로 출력해보세요.

In [21]:
a="pYtHoN iS fUn"
print(a.swapcase())

PyThOn Is FuN

13. f-string에서 수식을 직접 넣을 수 있다는 점을 활용해, 두 숫자와 연산자를 입력받아 연산 결과를 한 줄로 출력하는 코드를 작성해보세요.  
예) num1=3, op="+", num2=5 → "3 + 5 = 8"

In [23]:
num1=3
op="+"
num2=5
f"{num1} {op} {num2} = {num1+num2}"

'3 + 5 = 8'